:root {
  --mainColor: #bada55;
  --mainFont: tahoma;
  --mainPadding: 010px;
  --English: ltr;
  --arabic: rtl;
  direction: var(--English);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.my-page {
  background: #eee;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header header header header header"  "aside aside main main main" "footer footer footer footer footer";
}
header{
    display: grid;
    grid-area:header ;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto ;
    grid-template-areas: "logo logo nav nav nav";
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-flex;
}

.logo {
  background-color: var(--mainColor);
  grid-area: logo;
}
nav {
  background-color: aqua;
  grid-area: nav;
  
}
aside {
  background-color: blue;
  grid-area: aside;
}

footer {
  background-color: black;
  grid-area: footer;
}

main {
  background-color: chocolate;
  grid-area: main;
}
