:root{
    --mainColor:#BADA55;
    --mainFont:tahoma;
    --mainPadding:010px;
    --English:ltr;
    --arabic:rtl;
    direction: var(--English);
}
*{
    box-sizing: border-box;
}



p,input{
    caret-color:  blueviolet;
    display: inline-block;
    width: 100%;
}

input{
    border: blueviolet 1px solid;
}
button{
    pointer-events: none;
}