:root{
    --mainColor:#BADA55;
    --mainFont:tahoma;
    --mainPadding:010px;
}


div{
    --mainColor:#13eee3;
    padding: calc(5px +var(--mainPadding));
    background-color: var(--mainColor);
}

span{
    color: var(--mainColor);
}